---
import Card from "../components/Card.astro";
import Card2 from "../components/Card2.astro";
---

<style>
  .box {
    position: "absolute";
    left: 50%;
    top: 50%;
    height: 100px;
    background-color: red;
    transition: all 1s ease-in-out;
  }
</style>

<section
  id="section2"
  class="rounded-lg relative bg-secondary w-full h-[400dvh]"
>
  <div class="h-[100dvh] w-full sticky top-0 left-0">
    <div
      id="primary-circle"
      class="m-auto bg-primary-background w-full aspect-square transition-all ease-in-out duration-300"
    >
    </div>
    <div
      id="heading2"
      class="transition-all duration-500 ease-in absolute top-1/2 -translate-y-1/2 -translate-x-1/2 left-1/2 w-1/2 mx-auto flex flex-col items-center justify-center gap-8"
    >
      <div
        class="border border-white/0.7 border-1
        text-white/0.7
        tracking-tighter
        rounded-lg px-6 py-2 font-bold flex items-center"
      >
        <p class="font-bold text-4xl">•</p>
        <h1 class="ml-2">The Compounding Effect</h1>
      </div>
      <h1
        class="text-white/0.7 font-extrabold text-6xl
        tracking-tighter
        leading-tight
        text-center"
      >
      Patient safety progress has stalled over the past 30 years
      </h1>
    </div>
    <Card2 id="card8" />
  </div>
</section>

<script is:inline>
  const break4 = 55,
    break5 = 75,
    break6 = 100;

  const card8 = document.getElementById("card8");
  const mainCircle = document.getElementById("primary-circle");
  const heading2 = document.getElementById("heading2")

  window.addEventListener("scroll", (any) => {
    const scrollPercentage = Math.round(
      (window.scrollY /
        (document.documentElement.scrollHeight - window.outerHeight)) *
        100
    );
    console.log("section2  %", scrollPercentage);

    if (scrollPercentage > break4 && scrollPercentage <= break5) {
    } else if (scrollPercentage > break5 && scrollPercentage <= break6) {
      mainCircle.style.cssText = `border-radius: 50%; width: 50dvw; `;
    } else if (scrollPercentage > break6 && scrollPercentage >= 100) {
      heading2.style.opacity = 0
      card8.style.opacity = 1;
    } else {
      mainCircle.style.cssText = `border-radius: 0%; width: 100%`;
      card8.style.opacity = 0;
      heading2.style.opacity = 1;
    }
  });
  card8.style.cssText = `opacity: 1`;
</script>

<!-- <script is:inline>
  const stickyPercentage = 50;

  const section2 = document.getElementById("section2");
  const primaryCircle = document.getElementById("primary-circle");

  console.log("Section2", section2);
  if (!section2) return;

  window.addEventListener("scroll", (el) => {
    console.log("Section2");

    const percentage = Math.floor(
      (el.target.scrollTop / el.target.scrollHeight) * 100
    );
    console.log("Section2", percentage);

    if (percentage > stickyPercentage) {
      section2.style.position = "sticky;";
    } else {
      section2.style.position = "relative;";
    }

    console.log("2 Page % scrolled", percentage);

    const primaryCircle = document.getElementById("mainbox");
    primaryCircle.style.borderRadius = "0%";
    primaryCircle.style.transition = "all 0.2s";
    primaryCircle.style.transitionTimingFunction = "ease-in-out";
    primaryCircle.style.height = "100vh";
    primaryCircle.style.width = "100vw";
  });

  // Once you scroll past 50%
  function remove() {
    const primaryCircle = document.getElementById("section2");

    // morph it into a circle
    primaryCircle.style.borderRadius = "50%";
    primaryCircle.style.transition = "all 0.2s";
    primaryCircle.style.transitionTimingFunction = "ease-in-out";
    primaryCircle.style.height = "75vh";
    primaryCircle.style.width = "75vh";
  }
</script> -->
