---
import Card from "../components/Card.astro";
import Card2 from "../components/Card2.astro";
---

<style>
  .box {
    position: "absolute";
    left: 50%;
    top: 50%;
    height: 100px;
    background-color: red;
    transition: all 1s ease-in-out;
  }
</style>

<section
  id="section2"
  class="relative bg-primary-background/10 w-full h-[400dvh]"
>
  <div class="h-[100dvh] w-full sticky top-0 left-0">
    <div
      id="main-circle"
      class="m-auto bg-primary-background w-full aspect-square"
    >
      Sanjay Goswami
      <div
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-red-800"
      >
        Hinge Of Hinges
      </div>
    </div>

    <Card2 />
  </div>
</section>

<script is:inline>
  const break4 = 55,
    break5 = 75,
    break6 = 100;

  const mainCircle = document.getElementById("main-circle");

  window.addEventListener("scroll", (any) => {
    const scrollPercentage = Math.round(
      (window.scrollY /
        (document.documentElement.scrollHeight - window.outerHeight)) *
        100
    );

    console.log("Percentage", scrollPercentage);

    if (scrollPercentage > break4) {
      mainCircle.style.cssText = `border-radius: 50%; width: 50dvw; transition: all 0.5s ease-in-out; `;
      mainCircle.style.aspectRatio = "1/1";
    } else {
      mainCircle.style.cssText = `border-radius: 0%; width: 100%; transition: all 0.5s ease-in-out`;
    }

    console.log(
      "Here & There",
      scrollPercentage,
      window.scrollY,
      document.documentElement.scrollHeight
    );
  });
</script>

<!-- <script is:inline>
  const stickyPercentage = 50;

  const section2 = document.getElementById("section2");
  const primaryCircle = document.getElementById("primary-circle");

  console.log("Section2", section2);
  if (!section2) return;

  window.addEventListener("scroll", (el) => {
    console.log("Section2");

    const percentage = Math.floor(
      (el.target.scrollTop / el.target.scrollHeight) * 100
    );
    console.log("Section2", percentage);

    if (percentage > stickyPercentage) {
      section2.style.position = "sticky;";
    } else {
      section2.style.position = "relative;";
    }

    console.log("2 Page % scrolled", percentage);

    const primaryCircle = document.getElementById("mainbox");
    primaryCircle.style.borderRadius = "0%";
    primaryCircle.style.transition = "all 0.2s";
    primaryCircle.style.transitionTimingFunction = "ease-in-out";
    primaryCircle.style.height = "100vh";
    primaryCircle.style.width = "100vw";
  });

  // Once you scroll past 50%
  function remove() {
    const primaryCircle = document.getElementById("section2");

    // morph it into a circle
    primaryCircle.style.borderRadius = "50%";
    primaryCircle.style.transition = "all 0.2s";
    primaryCircle.style.transitionTimingFunction = "ease-in-out";
    primaryCircle.style.height = "75vh";
    primaryCircle.style.width = "75vh";
  }
</script> -->
