---
import Card from "../components/Card.astro";
---

<section id="section2" >
  <Card
    text="Many Regulatory policies to comply with"
    class="rectangle top-left in-view"
  />
  <!-- <Card
    text="New clinical evidence to understand and implement."
    class="absolute right-0 top-0 noshow showfromleft"
  />
  <Card
    text="New clinical evidence to understand and implement."
    class="absolute right-0 bottom-0 noshow showfromleft"
  />
  <Card
    text="New clinical evidence to understand and implement."
    class="absolute left-0 botttom-0 noshow showfromright"
  /> -->
</section>

<style is:global>

  .rectangle {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: #333;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .top-left {
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  .in-view {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }


</style>

<script>
  const intersectionObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {

      if (entry.isIntersecting) {
        console.log("Hi Sanjay", entry);
        // set the animation to state to running
        // entry.target.classList.add("in-view");
      } else {
        // entry.target.classList.remove("in-view");
      }
    });
  });

  const element = document.getElementById("section2")
  if (element) {
    intersectionObserver.observe(element);
  }
</script>
