---
import Card from "../components/Card.astro";
---

<div id="scrollContainer" class="h-[300dvh] w-full">
  <div
    id="section1"
    class="sticky top-0 bg-primary-background w-full h-[100dvh]"
  >
    <div
      id="hero-box"
      class="absolute flex flex-col items-center gap-8 top-1/2 left-1/2
    -translate-x-1/2 -translate-y-1/2"
    >
      <div
        class="border border-primary border-1
        text-primary
        tracking-tighter
        rounded-lg px-6 py-2 font-bold flex items-center"
      >
        <p class="font-bold text-4xl">•</p>
        <h1 class="ml-2">Complexity is increasing</h1>
      </div>
      <h1
        class="text-primary font-extrabold text-6xl
        tracking-tighter
        leading-tight
        text-center"
      >
        Health and care workers usually make mistakes as a result of a system or
        process failures, not because of their own errors.
      </h1>
    </div>

    <!-- <div class="bg-blue-900 top-left">Box 1</div>
    <div class="bg-blue-900 top-right">Box 2</div>
    <div class="bg-blue-900 bottom-right">Box 4</div>
    <div class="bg-blue-900 bottom-left">Box 3</div> -->
    <Card text="Many Regulatory policies to comply with" class="top-left" />
    <Card text="Many Regulatory policies to comply with" class="top-right" />
    <Card text="Many Regulatory policies to comply with" class="bottom-right" />
    <Card text="Many Regulatory policies to comply with" class="bottom-left" />
  </div>
</div>

<script is:inline>
  document.addEventListener("scroll", () => {
    const percentageScrolled =
      (window.scrollY / (document.body.scrollHeight - window.innerHeight)) *
      100;

    const boxes = document.querySelectorAll(
      ".top-left, .top-right, .bottom-right, .bottom-left"
    );
    const heroBox = document.getElementById("hero-box");

    console.log(percentageScrolled);
    boxes.forEach((box) => {

      heroBox.style.opacity = 1 - percentageScrolled / 100;
      if (percentageScrolled === 0) {
        box.classList.remove("state-one", "state-two", "state-three");
      } else if (percentageScrolled > 0 && percentageScrolled < 50) {
        box.classList.add("state-one");
        box.classList.remove("state-two", "state-three");
      } else if (percentageScrolled > 50 && percentageScrolled < 75) {
        box.classList.add("state-two");
        box.classList.remove("state-one", "state-three");
      } else if (percentageScrolled > 75) {
        box.classList.add("state-three");
        box.classList.remove("state-one", "state-two");
      }
    });
  });
</script>

<style is:global>
  /* Initial positions */
  .top-left,
  .bottom-left,
  .bottom-right,
  .top-right {
    position: absolute;
    width: 100px; /* Example size */
    height: 100px; /* Example size */
    background-color: red; /* Example color */
    transition: all 0.8s ease-in-out;
  }

  .bottom-left {
    bottom: 10%;
    left: 10%;
  }
  .bottom-right {
    right: 10%;
    bottom: 10%;
  }

  .top-left {
    top: -25%;
    left: -25%;
    transform: scale(2);
  }
  .top-left.state-one {
    top: 15% !important;
    left: 5% !important;
    transform: scale(1) !important;
  }
  .top-left.state-two {
    top: 30% !important;
    left: 20% !important;
    transform: scale(0.7) !important;
    opacity: 0.5;
  }
  .top-left.state-three {
    top: 50% !important;
    left: 50% !important;
    transform: scale(0.5) translate(-100%, -100%) !important;
    opacity: 0.1;
  }

  .top-right.centered {
    top: 50% !important;
    right: 50% !important;
    transform: translate(50%, -50%) !important;
  }
  .top-right.semi-centered {
    top: 25% !important;
    right: 25% !important;
    transform: translate(-25%, -25%) !important;
  }

  .bottom-left.centered {
    bottom: 50% !important;
    left: 50% !important;
    transform: translate(-50%, 50%) !important;
  }
  .bottom-left.semi-centered {
    bottom: 25% !important;
    left: 25% !important;
    transform: translate(25%, 25%) !important;
  }

  .bottom-right.centered {
    bottom: 50% !important;
    right: 50% !important;
    transform: translate(50%, 50%) !important;
  }
  .bottom-right.semi-centered {
    bottom: 25% !important;
    right: 25% !important;
    transform: translate(-25%, 25%) !important;
  }
</style>
