---
import Card from "../components/Card.astro";
---

<section
  id="section2"
  style="width: 800px; height: 2000px; overflow: scroll; position: relative;"
>
  <div class="text-red-800 font-bold text-5xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iure,
    placeat eos nobis aut necessitatibus blanditiis dolore ad impedit molestias
  </div>

  <div>{""} </div>

  <div class="text-red-800 font-bold text-5xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iure,
    placeat eos nobis aut necessitatibus blanditiis dolore ad impedit molestias
  </div>

</section>

<script>
  const section2 = document.getElementById("section2");

  section2?.addEventListener("scroll", () => {
    const scrollable =
      document.documentElement.scrollHeight - window.innerHeight;
    const scrolled = window.scrollY;
    const percentage = (scrolled / scrollable) * 100;
    console.log("2 Page % scrolled", percentage);
    // if (percentage > 99) {
    //   remove()
    // }else {
    //   const primaryCircle = document.getElementById("section2");
    //   primaryCircle!.style.borderRadius = "0%";
    //   primaryCircle!.style.transition = "all 0.2s";
    //   primaryCircle!.style.transitionTimingFunction = "ease-in-out";
    //   primaryCircle!.style.height = "100vh";
    //   primaryCircle!.style.width = "100vw";
    // }
  });

  // Once you scroll past 50%
  function remove() {
    const primaryCircle = document.getElementById("section2");

    // morph it into a circle
    primaryCircle!.style.borderRadius = "50%";
    primaryCircle!.style.transition = "all 0.2s";
    primaryCircle!.style.transitionTimingFunction = "ease-in-out";
    primaryCircle!.style.height = "75vh";
    primaryCircle!.style.width = "75vh";
  }

</script>
