---
import Card from "../components/Card.astro";
---

<section
  id="section2"
  class="relative bg-primary-background/10 w-full h-[100dvh] overflow-scroll"
>
  <div class="h-[400dvh] w-full">
    <div id="mainbox" class="bg-primary-background w-full h-full">
      Sanjay Goswami
    </div>
  </div>
</section>

<script>
  const section2 = document.getElementById("section2");

  section2?.addEventListener("scroll", (el: any) => {
    const percentage = Math.floor(
      (el.target.scrollTop / el.target.scrollHeight) * 100
    );

    console.log("2 Page % scrolled", percentage);

    const primaryCircle = document.getElementById("mainbox");
    primaryCircle!.style.borderRadius = "0%";
    primaryCircle!.style.transition = "all 0.2s";
    primaryCircle!.style.transitionTimingFunction = "ease-in-out";
    primaryCircle!.style.height = "100vh";
    primaryCircle!.style.width = "100vw";

  });

  // Once you scroll past 50%
  function remove() {
    const primaryCircle = document.getElementById("section2");

    // morph it into a circle
    primaryCircle!.style.borderRadius = "50%";
    primaryCircle!.style.transition = "all 0.2s";
    primaryCircle!.style.transitionTimingFunction = "ease-in-out";
    primaryCircle!.style.height = "75vh";
    primaryCircle!.style.width = "75vh";
  }
</script>
