---
import Card from "../components/Card.astro";
---

<section
  id="section2"
  class="bg-primary-background/10 w-full h-[400dvh] "
>
  <div class="h-[100dvh] w-full sticky top-0 left-0">
    <div id="primary-circle" class="bg-primary-background w-full h-full">
      Sanjay Goswami
    </div>
  </div>
</section>

<script is:inline>

  const stickyPercentage = 50; 
  
  const section2 = document.getElementById("section2");
  const primaryCircle = document.getElementById("primary-circle")

  console.log("Section2", section2)
  if (!section2) return

  window.addEventListener("scroll", (el) => {
    
    console.log("Section2")

    const percentage = Math.floor(
      (el.target.scrollTop / el.target.scrollHeight) * 100
    );
    console.log("Section2", percentage)

    if (percentage > stickyPercentage ) {

      section2.style.position = "sticky;"

    }else {

      section2.style.position = "relative;"
    }


    console.log("2 Page % scrolled", percentage);

    const primaryCircle = document.getElementById("mainbox");
    primaryCircle.style.borderRadius = "0%";
    primaryCircle.style.transition = "all 0.2s";
    primaryCircle.style.transitionTimingFunction = "ease-in-out";
    primaryCircle.style.height = "100vh";
    primaryCircle.style.width = "100vw";

  });

  // Once you scroll past 50%
  function remove() {
    const primaryCircle = document.getElementById("section2");

    // morph it into a circle
    primaryCircle.style.borderRadius = "50%";
    primaryCircle.style.transition = "all 0.2s";
    primaryCircle.style.transitionTimingFunction = "ease-in-out";
    primaryCircle.style.height = "75vh";
    primaryCircle.style.width = "75vh";
  }

</script>

