---
import Card from "../components/Card.astro";
---

<section id="section2" >
  <Card
    text="Many Regulatory policies to comply with"
    class="rectangle top-left in-view"
  />
  <!-- <Card
    text="New clinical evidence to understand and implement."
    class="absolute right-0 top-0 noshow showfromleft"
  />
  <Card
    text="New clinical evidence to understand and implement."
    class="absolute right-0 bottom-0 noshow showfromleft"
  />
  <Card
    text="New clinical evidence to understand and implement."
    class="absolute left-0 botttom-0 noshow showfromright"
  /> -->
</section>



<script>
  const intersectionObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {

      if (entry.isIntersecting) {
        console.log("Hi Sanjay", entry);
        // set the animation to state to running
        // entry.target.classList.add("in-view");
      } else {
        // entry.target.classList.remove("in-view");
      }
    });
  });

  const element = document.getElementById("section2")
  if (element) {
    intersectionObserver.observe(element);
  }
</script>
