---
import Card from "../components/Card.astro";
---

<style is:global>
  /* Initial positions */
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7 {
    height: 100px;
    background-color: red;
    transition: all 0.5s ease-in-out;
  }
  #hero-box {
    transition: opacity 0.4s ease-in-out;
  }
</style>

<section
  id="section1"
  class="relative bg-primary-background/10 w-full h-[300dvh]"
>
  <section
    id="subsection1"
    class="w-full h-[100dvh] sticky top-0 overflow-hidden"
  >
    <div
      id="hero-box"
      class="left-1/2 -translate-x-1/2 absolute h-full w-full sm:w-1/2 mx-auto flex flex-col items-center justify-center gap-8"
    >
      <div
        class="border border-primary border-1
        text-primary
        tracking-tighter
        rounded-lg px-6 py-2 font-bold flex items-center"
      >
        <p class="font-bold text-4xl">•</p>
        <h1 class="ml-2">Complexity is increasing</h1>
      </div>
      <h1
        class="text-primary font-extrabold text-4xl sm:text-6xl
        tracking-tighter
        leading-tight
        text-center"
      >
        Health and care workers usually make mistakes as a result of a system or
        process failures, not because of their own errors.
      </h1>
    </div>

    <section
      id="subsection2"
      style="scale: 3.7"
      class="p-4 gap-4 opacity-0 sm:opacity-100 flex sm:block sm:flex-none flex-col border-2
      border-blue-700 origin-center w-full h-full
      relative transition-all duration-500 ease-in-out"
    >
      <Card
        text="Many Regulatory policies to comply with"
        class="sm:absolute sm:left-24 sm:top-52"
      />

      <Card
        text="New Clinical evidence to understand and implement."
        class="sm:absolute sm:right-32 sm:top-56"
      />

      <Card
        text="Staff burnout and workforce shortages."
        class="sm:absolute sm:left-48 sm:bottom-96"
      />

      <Card
        text="Communication within a healthcare organization."
        class="sm:absolute sm:right-36 sm:bottom-80"
      />
      <Card text="More equipment and drug instructions for use." 
      class="sm:absolute sm:right-44 sm:bottom-88 " />
      <Card
        text="Diversity of tasks involved in the delivery  of patient care."
        class="sm:absolute sm:left-84 sm:top-88 " 
      />
      <Card
        text="Increased specialization of health-care professionals"
        class="sm:absolute sm:bottom-32 sm:right-98"
      />
    </section>
  </section>
</section>

<script is:inline>
  const break1 = 12;
  const break2 = 29;
  const break3 = 35;
  const isMobile = window.matchMedia("(max-width: 639px)").matches;

  function section2State0() {
    subsection2.style.opacity = 0;
    subsection2.style.scale = 3.7;
  }

  function section2State1() {
    subsection2.style.scale = 1;
    subsection2.style.opacity = 1;
  }

  function section2State2() {
    if (isMobile) return;
    subsection2.style.scale = 0.4;
  }

  function section2State3() {
    if (isMobile) return;
    subsection2.style.scale = 0;
  }

  const boxes = document.querySelectorAll(
    ".box1, .box2, .box4, .box3, .box5, .box6, .box7"
  );

  const heroBox = document.getElementById("hero-box");
  const subsection2 = document.getElementById("subsection2");

  window.addEventListener("scroll", () => {
    let scrollableHeight =
      document.documentElement.scrollHeight - window.outerHeight;
    let scrollY = window.scrollY;
    let percentageScrolled = (scrollY / scrollableHeight) * 100;

    let scrollValue;
    let opacity;
    let scale;

    console.log("Section1 Scrolled", percentageScrolled);
    if (percentageScrolled === 0) {
      section2State0();
      heroBox.style.opacity = 1;
      scrollValue = `0%`;
      opacity = 1;
      scale = 1.5;
    } else if (percentageScrolled > 0 && percentageScrolled <= break1) {
      console.log("Enter State 2");
      section2State1();
      heroBox.style.opacity = 0.2;
      scrollValue = "25%";
      opacity = 1;
      scale = 1;
    } else if (percentageScrolled > break1 && percentageScrolled <= break2) {
      section2State2();
      heroBox.style.opacity = 0;
      scrollValue = "40%";
      opacity = 0.06;
      scale = 0.65;
    } else if (percentageScrolled > break2 && percentageScrolled <= break3) {
      section2State3();
      scrollValue = "45%";
      opacity = 1;
      scale = 0.5;
    } else if (percentageScrolled > break3) {
      opacity = 0;
    }

    return console.log("Here & There");

    boxes.forEach((box) => {
      if (box.classList.contains("box1")) {
        box.style.top = scrollValue;
        box.style.left = scrollValue;
        box.style.scale = scale;
        box.style.opacity = opacity;
      } else if (box.classList.contains("box2")) {
        box.style.right = scrollValue;
        box.style.top = scrollValue;
        box.style.scale = scale;
        box.style.opacity = opacity;
      } else if (box.classList.contains("box4")) {
        box.style.right = scrollValue;
        box.style.bottom = scrollValue;
        box.style.scale = scale;
        box.style.opacity = opacity;
      } else if (box.classList.contains("box3")) {
        box.style.left = scrollValue;
        box.style.bottom = scrollValue;
        box.style.scale = scale;
        box.style.opacity = opacity;
      } else if (box.classList.contains("box5")) {
        if (percentageScrolled <= break1 || percentageScrolled > break2) {
          box.style.opacity = 0;
        } else {
          box.style.opacity = 1;
        }

        box.style.right = scrollValue;
        box.style.top = scrollValue;
        box.style.scale = scale;
      } else if (box.classList.contains("box6")) {
        if (percentageScrolled <= break1 || percentageScrolled > break2) {
          box.style.opacity = 0;
        } else {
          box.style.opacity = 1;
        }

        box.style.scale = scale;
        box.style.left = scrollValue;
        box.style.top = scrollValue;
      } else if (box.classList.contains("box7")) {
        if (percentageScrolled <= break1 || percentageScrolled > break2) {
          box.style.opacity = 0;
        } else {
          box.style.opacity = 1;
        }

        box.style.right = scrollValue;
        box.style.bottom = scrollValue;
        box.style.scale = scale;
      }
    });
  });
</script>
