---
import Card from "../components/Card.astro";
import Card2 from "../components/Card2.astro";
import BGCIRCLE from "../components/BG_CIRCLE.astro";
---

<section id="section2" class="relative h-[500dvh] w-full rounded-lg">
  <div
    class="sticky left-0 top-0 h-[100dvh] w-full overflow-hidden bg-secondary-light"
  >

    <BGCIRCLE
      text="Increasing Cost"
      textOpacity={1}
      textId="headingCircle3"
      id="bgCircle3"
      class="bg-secondary/50"
    />

    <BGCIRCLE
      text="Impacts Safety"
      textOpacity={1}
      textId="headingCircle2"
      id="bgCircle2"
      class="bg-secondary"
    />

    <BGCIRCLE
      text="Disconnected Operations"
      textOpacity={1}
      textId="headingCircle1"
      id="bgCircle1"
      class="bg-primary-background"
    />

    <div
      id="heading2"
      class="absolute left-1/2 top-1/2 mx-auto flex w-full -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center gap-8 p-8 transition-all duration-500 ease-in sm:w-1/2 sm:p-12"
    >
      <div
        class="border-white/0.7 border-1 text-white/0.7 flex items-center rounded-lg border px-6 py-2 font-bold tracking-tight"
      >
        <p class="text-4xl font-bold">•</p>
        <h1 class="ml-2">The Compounding Effect</h1>
      </div>
      <h1
        class="text-white/0.7 text-center text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-4xl"
      >
        Patient safety progress has stalled over the past 30 years
      </h1>
    </div>

    <Card2
      id="card8"
      title="95%"
      text="of the data goes unused*"
      className="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
      headerColor="bg-primary-background"
    />

    <section
      style="scale: 15"
      id="card-section1"
      class="flex h-full w-full flex-col items-center justify-center gap-4 p-20 transition-all duration-500 ease-in-out"
    >
      <Card2
        id="card9"
        title=">80%"
        text=`safty events goes undocumented*`
        className="xl:top-102 sm:absolute sm:left-16 xl:left-96"
        headerColor="bg-secondary"
      />

      <Card2
        id="card10"
        title="25%"
        text="Harm events preventable*"
        className="sm:absolute sm:right-12 sm:top-36 xl:right-96"
        headerColor="bg-secondary"
      />

      <Card2
        id="card11"
        title="25%"
        text="Adverse events preventable*"
        className="sm:absolute sm:bottom-24 sm:right-24 xl:right-[40rem]"
        headerColor="bg-secondary"
      />
    </section>

    <section
      style="scale: 4"
      id="card-section2"
      class="absolute top-0 flex h-full w-full flex-col items-center justify-center gap-4 transition-all duration-500 ease-in-out sm:flex-none"
    >
      <Card2
        id="card12"
        title="76%"
        text="Health care workers reported burnouts*"
        className="sm:absolute sm:left-40 sm:top-44 xl:left-72"
        headerColor="bg-secondary-light "
      />

      <Card2
        id="card13"
        title="266Bn"
        text="Administrative complexity*"
        className="sm:absolute sm:right-24 sm:top-24 xl:right-80"
        headerColor="bg-secondary-light"
      />

      <Card2
        id="card14"
        title="$214Bn"
        text="Operational waste*"
        className="sm:absolute sm:bottom-24 sm:left-40 xl:left-80"
        headerColor="bg-secondary-light"
      />

      <Card2
        id="card15"
        title="15%"
        text="Expendenture driven by  adverse events*"
        className="sm:absolute sm:bottom-20 sm:right-24 xl:right-96"
        headerColor="bg-secondary-light"
      />
    </section>
  </div>
</section>

<script is:inline>

  const break4 = 45,
    break5 = 55,
    break6 = 65;

  const card8 = document.getElementById("card8");
  const card9 = document.getElementById("card9");
  const card10 = document.getElementById("card10");
  const card11 = document.getElementById("card11");
  const card12 = document.getElementById("card12");
  const card13 = document.getElementById("card13");
  const card14 = document.getElementById("card14");
  const card15 = document.getElementById("card15");
  const bgCircle1 = document.getElementById("bgCircle1");
  const bgCircle2 = document.getElementById("bgCircle2");
  const bgCircle3 = document.getElementById("bgCircle3");
  const heading2 = document.getElementById("heading2");
  const headingCircle1 = document.getElementById("headingCircle1");
  const headingCircle2 = document.getElementById("headingCircle2");
  const headingCircle3 = document.getElementById("headingCircle3");
  const cardSection1 = document.getElementById("card-section1");
  const cardSection2 = document.getElementById("card-section2");

  window.addEventListener("scroll", (any) => {
    const scrollPercentage = Math.round(
      (window.scrollY /
        (document.documentElement.scrollHeight - window.outerHeight)) *
        100,
    );

    console.log("section2  %", scrollPercentage);

    function turnIntoCircle(elements, width) {
      elements.forEach((el) => {
        el.style.width = width;
        el.style.height = width;
        el.style.left = "50%";
        el.style.top = "50%";
        el.style.transform = "translate(-50%, -50%)";
        el.style.borderRadius = "50%";
      });
    }

    function resetCircle(elArray) {
      elArray.forEach((el) => {
        el.style.borderRadius = "0%";
        el.style.width = "100%";
        el.style.height = "100dvh";
      });
    }

    function hide(elements) {
      elements.forEach((el) => {
        el.style.opacity = 0;
      });
    }

    function show(elements) {
      elements.forEach((el) => {
        el.style.opacity = 1;
      });
    }

    /**
     * Scroll Percentage
     */
    if (scrollPercentage < break4) {
      resetCircle([bgCircle1]);
      show([heading2]);
      hide([
        cardSection1,
        headingCircle1,
        headingCircle2,
        headingCircle3,
        card8,
      ]);

      cardSection1.style.scale = 12;
      cardSection2.style.opacity = 0;
    } else if (scrollPercentage > break4 && scrollPercentage <= break5) {
      turnIntoCircle([bgCircle1], "90dvh");
      show([card8, headingCircle1]);
      hide([headingCircle2, heading2, cardSection1]);

      resetCircle([bgCircle2]);

      cardSection1.style.scale = 12;
    } else if (scrollPercentage > break5 && scrollPercentage <= break6) {
      turnIntoCircle([bgCircle1], "15dvh");
      turnIntoCircle([bgCircle2], "90dvh");
      resetCircle([bgCircle3]);
      show([headingCircle2, cardSection1]);

      cardSection1.style.scale = 1;

      cardSection2.style.opacity = 0;
      cardSection2.style.scale = 4;

      hide([headingCircle3, card8, headingCircle1]);
    } else if (scrollPercentage > break6 && scrollPercentage <= 100) {
      turnIntoCircle([bgCircle1], "2dvh");
      turnIntoCircle([bgCircle2], "15dvh");
      turnIntoCircle([bgCircle3], "90dvh");

      hide([headingCircle2, card8]);
      show([headingCircle3]);

      cardSection1.style.scale = 0;

      cardSection2.style.opacity = 1;
      cardSection2.style.scale = 1;
    }
  });
</script>
