---
import Card from "../components/Card.astro";
---

<section id="section1" class="bg-primary-background w-full h-[400dvh]">
  <section
    id="subsection1"
    class="bg-red-900 w-full h-screen "
  >
    <div
      id="hero-box"
      class="h-full bg-blue-500 w-1/2 mx-auto flex flex-col items-center justify-center gap-8 "
    >
      <div
        class="border border-primary border-1
        text-primary
        tracking-tighter
        rounded-lg px-6 py-2 font-bold flex items-center"
      >
        <p class="font-bold text-4xl">•</p>
        <h1 class="ml-2">Complexity is increasing</h1>
      </div>
      <h1
        class="text-primary font-extrabold text-6xl
        tracking-tighter
        leading-tight
        text-center"
      >
        Health and care workers usually make mistakes as a result of a system or
        process failures, not because of their own errors.
      </h1>
    </div>
  </section>
  <!-- <section id="subsection2">
    <Card text="Many Regulatory policies to comply with" class="box1" />
    <Card text="Many Regulatory policies to comply with" class="box2" />
    <Card text="Many Regulatory policies to comply with" class="box4" />
    <Card text="Many Regulatory policies to comply with" class="box3" />
  </section> -->
</section>

<script is:inline>
  document.addEventListener("scroll", () => {
    const heroBox = document.getElementById("hero-box");
    const boxes = document.querySelectorAll(
      ".box1, .box2, .box4, .box3, .box5, .box6, .box7"
    );
    let percentageScrolled =
      (window.scrollY / (document.body.scrollHeight - window.innerHeight)) *
      100;

    console.log(percentageScrolled);
    let scale = 1 - percentageScrolled / 100;

    if (percentageScrolled > 0 && percentageScrolled < 23) {
      return;
    } else if (percentageScrolled > 23 && percentageScrolled < 46) {
      percentageScrolled = 40;
    }

    boxes.forEach((box) => {
      const value = `${Math.min(percentageScrolled, 50)}%`;
      if (box.classList.contains("box1")) {
        box.style.left = value;
        box.style.top = value;
      } else if (box.classList.contains("box2")) {
        box.style.right = value;
        box.style.top = value;
      } else if (box.classList.contains("box4")) {
        box.style.right = value;
        box.style.bottom = value;
      } else if (box.classList.contains("box3")) {
        box.style.left = value;
        box.style.bottom = value;
      } else if (box.classList.contains("box5")) {
        box.style.left = value;
        box.style.top = value;
      } else if (box.classList.contains("box6")) {
        box.style.right = value;
        box.style.top = value;
      } else if (box.classList.contains("box7")) {
        box.style.left = value;
        box.style.bottom = value;
      }

      box.style.scale = Math.max(scale, 0.5);
      // box.style.opacity = 1 - percentageScrolled / 100;
    });
    // heroBox.style.opacity = 1 - percentageScrolled / 100;
  });
</script>

<style is:global>
  /* Initial positions */
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7 {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 1s ease-in-out;
  }

  .box1 {
    top: 0;
    left: 0;
    transform: translate(-160%, -270%) scale(1.5);
  }

  .box2 {
    top: 0;
    right: 0;
    transform: translate(160%, -230%) scale(1.5);
  }
  .box3 {
    bottom: 0;
    left: 0;
    transform: translate(-130%, 140%) scale(1.5);
  }
  .box4 {
    right: 0%;
    bottom: 0%;
    transform: translate(150%, 200%) scale(1.5);
  }
  .box5 {
    left: 0;
    top: 0;
    transform: translate(-300%, -600%) scale(1.5);
  }
  .box6 {
    top: 0;
    right: 0;
    transform: translate(300%, -600%) scale(1.5);
  }
  .box7 {
    left: 0%;
    bottom: 0%;
    transform: translate(-300%, 600%) scale(1.5);
  }
</style>
