<section
  id="section1"
  class="relative bg-primary-background/10 w-full h-[200dvh]" 
>
  <section id="subsection1" class="w-full h-[100dvh] sticky top-0">
    <div
      id="hero-box"
      class="h-full  p-8 w-full sm:w-8/12 mx-auto flex flex-col items-center justify-center gap-8"
    >
      <div
        class="border border-primary border-1
        text-primary
        tracking-tight
        rounded-lg px-6 py-2 font-bold flex items-center"
      >
        <p class="font-bold text-4xl">•</p>
        <h1 class="ml-2">But what if ?</h1>
      </div>
      <h1
        class="text-primary font-extrabold text-3xl sm:text-5xl
        tracking-tight
        text-center"
      >
        What if we could help make everyone safer - by connecting and enabling
        workers, clinicians and patients, while reducing your costs at the same
        time?
      </h1>
    </div>
  </section>
</section>
