---
import Card from "../components/Card.astro";
---

<style is:global>
  /* Initial positions */
  .box {
    height: 96px;
    background-color: red;
    transition: all 0.5s ease-in-out;
  }
  #hero-box {
    transition: opacity 0.4s ease-in-out;
  }
</style>

<section
  id="section1"
  class="relative bg-primary-background/10 w-full h-[500dvh]"
>
  <section
    id="subsection1"
    class="w-full h-[100dvh] sticky top-0 overflow-hidden"
  >
    <div
      id="hero-box"
      class="left-1/2 -translate-x-1/2 absolute h-full w-full sm:w-8/12
      mx-auto flex flex-col items-center justify-center gap-8 p-8 sm:p-12"
    >
      <div
        class="border border-primary border-1
        text-primary
        tracking-tighter
        rounded-lg px-6 py-2 font-bold flex items-center"
      >
        <p class="font-bold text-4xl">•</p>
        <h1 class="ml-2">Complexity is increasing</h1>
      </div>
      <h1
        class="text-primary font-extrabold text-4xl sm:text-4xl
        tracking-tighter
        leading-tight
        text-center"
      >
        Health and care workers usually make mistakes as a result of a system or
        process failures, not because of their own errors.
      </h1>
    </div>

    <section
      id="subsection2"
      style="scale: 3.7"
      class="p-4 gap-4 opacity-0 sm:opacity-100 flex sm:block sm:flex-none flex-col
      border-2 origin-center w-full sm:h-full relative
      transition-all duration-500 ease-in-out"
    >
      <Card
        text="Many Regulatory policies to comply with"
        class="box sm:absolute sm:left-48 sm:top-24"
      />

      <Card
        text="New Clinical evidence to understand and implement."
        class="sm:absolute box sm:right-40 sm:top-40"
      />

      <Card
        text="Staff burnout and workforce shortages."
        class="sm:absolute box sm:left-44 sm:bottom-52"
      />

      <Card
        text="Communication within a healthcare organization."
        class="sm:absolute box sm:right-48 sm:bottom-32"
      />
    </section>

    <section
      id="subsection3"
      style="scale: 20"
      class="relative sm:absolute top-0 p-4 gap-4 opacity-0 sm:opacity-100 flex sm:block sm:flex-none flex-col justify-end
      border-2 origin-center w-full sm:h-full
      transition-all duration-500 ease-in-out"
    >
      <Card
        text="More equipment and drug instructions for use."
        class="box sm:absolute sm:left-1/4 sm:top-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2"
      />
      <Card
        text="Diversity of tasks involved in the delivery  of patient care."
        class="box sm:absolute sm:right-1/4 sm:top-1/4 sm:translate-x-1/2 sm:translate-y-1/2"
      />
      <Card
        text="Increased specialization of health-care professionals"
        class="box sm:absolute sm:right-1/4 sm:bottom-1/4 sm:translate-x-1/2 sm:translate-y-1/2"
      />
    </section>
  </section>
</section>

<script is:inline>
  const break1 = 12;
  const break2 = 29;
  const break3 = 35;
  const isMobile = window.matchMedia("(max-width: 639px)").matches;

  const heroBox = document.getElementById("hero-box");
  const subsection2 = document.getElementById("subsection2");
  const subsection3 = document.getElementById("subsection3");

  function state0() {

    subsection2.style.scale = 3.7;
    subsection3.style.opacity = 0;

    heroBox.style.opacity = 1;
    heroBox.style.filter = "";

    if (isMobile) {
      subsection2.style.opacity = 0;
      subsection3.style.scale = 20;
    }
  }

  function state1() {
    subsection2.style.scale = 1;
    subsection2.style.opacity = 1;
    subsection2.style.filter = "";

    subsection3.style.scale = 20;
    subsection3.style.opacity = 0;

    heroBox.style.opacity = 0.2;
    heroBox.style.filter = "blur(4px)";

    if (isMobile) {
      subsection3.style.scale = 1;
      subsection3.style.opacity = 1;
    }
  }

  function state2() {
    subsection3.style.scale = 1;
    subsection3.style.opacity = 1;

    if (isMobile) return;

    subsection2.style.filter = "blur(1rem)";
    subsection2.style.scale = 0.4;
    subsection2.style.opacity = 1;

    subsection3.style.filter = "";
  }

  function state3() {
    if (isMobile) return;

    subsection2.style.scale = 0.2;
    subsection2.style.opacity = 0.1;

    subsection3.style.filter = "blur(1rem)";
    subsection3.style.scale = 0.4;
  }
  function state4() {
    // TODO:
  }

  const boxes = document.querySelectorAll(
    ".box1, .box2, .box4, .box3, .box5, .box6, .box7"
  );

  window.addEventListener("scroll", () => {
    let scrollableHeight =
      document.documentElement.scrollHeight - window.outerHeight;
    let scrollY = window.scrollY;
    let percentageScrolled = (scrollY / scrollableHeight) * 100;

    let scrollValue;
    let opacity;
    let scale;

    console.log("Section1 Scrolled", percentageScrolled);
    if (percentageScrolled === 0) {
      state0();
    } else if (percentageScrolled > 0 && percentageScrolled <= break1) {
      state1();
    } else if (percentageScrolled > break1 && percentageScrolled <= break2) {
      state2();
      heroBox.style.opacity = 0;
    } else if (percentageScrolled > break2 && percentageScrolled <= break3) {
      state3();
    } else if (percentageScrolled > break3) {
      state4();
    }
  });
</script>
