---
import Section1 from "../section/Section1.astro";
import Section2 from "../section/Section2.astro";
---

<style>
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }

  .animate-bounce {
    animation: bounce 1s ease-in-out;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<Section2 />

<!-- <div id="base" class="w-full h-[400dvh] relative ">
  <div>Sanjay Goswami</div> -->red
<!-- <Section1 /> -->
<!-- <Section2 /> -->
<!-- <h1 class="text-red-600 text-4xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam fugit perferendis tempora dolore delectus fuga rem quas maiores explicabo obcaecati? Eaque ullam numquam quaerat corrupti recusandae quas, temporibus iure commodi.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad est error, aperiam cum maxime exercitationem id eos debitis ullam sit aspernatur beatae unde, perferendis, sapiente quidem ipsum ab rerum inventore!
</h1>
<h1 class="text-red-600 text-4xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam fugit perferendis tempora dolore delectus fuga rem quas maiores explicabo obcaecati? Eaque ullam numquam quaerat corrupti recusandae quas, temporibus iure commodi.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad est error, aperiam cum maxime exercitationem id eos debitis ullam sit aspernatur beatae unde, perferendis, sapiente quidem ipsum ab rerum inventore!
</h1> -->
<!-- </div> -->
