---
import Card from "../components/Card.astro";
import Section1 from "../section/Section1.astro";
import Section2 from "../section/Section2.astro";
---

<div id="base" class="overflow-auto w-full h-auto">
  <Section1 />
  <Section2 />
</div>


<!-- Create a div whose visibility changes to 100% when it enters the viewport -->

<style is:global>
  .noshow {
    opacity: 0;
  }
  .show {
    opacity: 1;
  }
</style>

<script>

  
</script>
