---
import Card from "../components/Card.astro";
import Page1 from "../components/Page1.astro";
---
<div class=" overflow-auto w-full h-auto">
  <Page1 />
  <Card />
</div>

<!-- Create a div whose visibility changes to 100% when it enters the viewport -->

<style is:global>
  .show {
    opacity: 1;
    background-color: red;
  }
  .doth {
    opacity: 0;
    transition: all 1s;
    background-color: red;
  }
</style>

<script>
  // const intersectionObserver = new IntersectionObserver((entries) => {
  //   entries.forEach((entry) => {
  //     if (entry.isIntersecting) {
  //       entry.target.classList.add("show");
  //     } else {
  //       entry.target.classList.remove("show");
  //     }
  //   });
  // });

  // const doth = document.querySelector(".doth");
  // console.log(doth);
  // intersectionObserver.observe(doth!);
</script>
