---
import Card from "../components/Card.astro";
import Section1 from "../section/Section1.astro";
import Section2 from "../section/Section2.astro";
---

<!-- Chnage color of scroll indicator -->
<div id="base" class="bg-blue-400 w-full h-auto relative ">
  <Section1 />
  <!-- <Section2 /> -->
</div>
