---
interface Props {
  id: string,
  class?: string,
  text: string,
  textId: string,
  textOpacity: number,
}
const { id, class: className, text, textId, textOpacity } = Astro.props
---

<style>
  .circle-bg {
    position: absolute;
    transition: all 0.5s ease-in-out;
    left: 0%;
    top: 0%;
    height: 100dvh;
    width: 100%;
  }
</style>

<div id={id} class=`circle-bg ${className}`>
  <h2 id={textId} class=`text-xl lg:text-3xl font-bold text-center mt-20`>
    {text}
  </h2>
</div>
