---
import WarningCircleIcon from "../assets/icons/warning-circle-icon.astro";
const { class: className, id: elId } = Astro.props;
---

<style>
  .card-type2 {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
</style>

<div id=`${elId}` class=` card-type2 shadow-lg ${className}`>
  <div class="rounded-t-box w-full h-10 bg-primary-background-dark">
    <WarningCircleIcon />
  </div>
  <div class="rounded-b-box bg-white/80 text-primary-background p-4 pr-20">
    <span class="font-black text-7xl"> 97% </span>
    <p class="font-bold">of data goes unused*</p>
  </div>
</div>
