---

import WarningCircleIcon from "~/assets/icons/warning-circle-icon.astro"

---

<div
  class="absolute left-1/2 top-1/2 rounded-lg bg-red-600 overflow-hidden
  -translate-x-1/2 -translate-y-1/2"
>
  <div class="w-full h-8 bg-primary-background">
   <WarningCircleIcon />
  </div>
  <div class=" bg-white text-primary-background p-4 pr-28">
    <span class="font-bold text-8xl "> 97% </span>
    <p class="font-bold">  of data goes unused*</p>
  </div>
</div>
