<div
  class="absolute left-1/2 top-1/2 h-20 rounded-sm bg-primary-background
  -translate-x-1/2 -translate-y-1/2"
>
  <div class="w-full h-8 bg-white">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 ml-auto h-full"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
      >
      </path>
    </svg>
  </div>
  <div class="h-full w-full bg-white">
    <span class="font-bold text-8xl text-primary-background"> 97% </span>
    <br />
    of data goes unused*
  </div>
</div>
