---
interface Props {
  title: string;
  body: string;
}
---

<style>
  .text-gradient {
    color: #dc143c;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%; */
    /* background-color: white; */
  }
</style>

<div class="p-8 m-4 bg-white rounded-full">
  <h1>
    <span class="font-bold text-gradient text-5xl sm:text-7xl">
      my..dreams</span
    >
  </h1>
</div>
<form
  class="card w-full shadow-xl bg-base-100 my-auto sm:w-2/12 flex flex-col items-center gap-4
  p-8"
  onsubmit="onDreamSubmit()"
>
  <textarea
    id="textdiv"
    class="textarea textarea-bordered text-gray-800"
    placeholder="Enter your dream"></textarea>
  <button class="btn rounded-full" type="submit">Submit</button>
</form>
