---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    overscroll-behavior: none;
    scroll-behavior: smooth;
    --primary-color: rgb(9, 59, 78);
    --primary-background-color: 15, 65, 70;
    --secondary-color: #e03e1a;
    --background-color: #f0f0f0;
    --surface-color: #fff;

    --text-color: var(--primary-color);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-color: #f0f0f0;
      /* --primary-background-color: #13151a; */
      /* --primary-background-color: 15, 21, 26; */
      --secondary-color: #e03e1a;
      --background-color: #13151a;
      --surface-color: #1e1e1e;
      --text-color: var(--primary-color);
    }
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
