---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    overscroll-behavior: none;
    scroll-behavior: smooth;
    --primary-color: 9, 59, 78;
    --secondary-color: 0, 240, 200;
    --secondary-light-color: 123, 248, 219;
    --primary-background-color: 15, 65, 70;
    --primary-background-dark: 11, 50, 54;
    --background-color: #f0f0f0;
    --surface-color: 255, 255, 255;
    --text-color: var(--primary-color);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-color: 9 * 0.8, 59 * 0.8, 78 * 0.8;
      --primary-background-color: 15, 21, 26;
      --primary-background-dark: 15, 21, 26;
      --secondary-color: 0 * 0.8, 240 * 0.8, 200 * 0.8;
      --background-color: #13151a;
      --surface-color: #1e1e1e;
      --text-color: var(--primary-color);
    }
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
